<head>
  <title>image_proxy</title>
</head>

<body>
  {{> home}}
</body>

<template name="home">
    <h2>Super Cars</h2>
    <ul>
        <li><a href="/getImage/bugatti.jpg" >Bugatti</a></li>
        <li><a href="/getImage/ferrari.jpg" >Ferrari</a></li>
        <li><a href="/getImage/huracan.jpg" >Huracan</a></li>
        <li><a href="/getImage/koenigsegg.jpg" >Koenigsegg</a></li>
        <li><a href="/getImage/Pagani.jpg" >Pagani</a></li>
        <li><a href="/getImage/posche.jpg" >Posche</a></li>
    </ul>
</template>
